version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_kurs
    restart: always
    environment:
      POSTGRES_DB: KyrsovayaBD
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DB_NAME: KyrsovayaBD
      DB_USER: postgres
      DB_PASSWORD: 1234
      DB_HOST: db
      DB_PORT: 5432

  backend_node:
    build: ./backend_node
    container_name: backend_node
    command: npm run dev
    volumes:
      - ./backend_node:/app
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      OLLAMA_BASE_URL: http://host.docker.internal:11434

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
      - backend_node

  backup:
    image: prodrigestivill/postgres-backup-local
    container_name: postgres_backup
    restart: always
    depends_on:
      - db
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: KyrsovayaBD
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      SCHEDULE: "@daily"
      BACKUP_KEEP_DAYS: 7
      BACKUP_KEEP_WEEKS: 4
      BACKUP_KEEP_MONTHS: 6
    volumes:
      - ./backups:/backups

volumes:
  postgres_data:
