@use "variables";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, variables.$color-bg-dark, variables.$color-indigo, variables.$color-purple);
  color: variables.$color-text-light;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}
.header {
  background: linear-gradient(90deg, variables.$color-indigo, variables.$color-purple, variables.$color-pink) !important;
}
