@import "variables";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, $color-bg-dark, $color-indigo, $color-purple);
  color: $color-text-light;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}
.header {
  background: linear-gradient(90deg, $color-indigo, $color-purple, $color-pink) !important;
}
