/* src/styles/variables.scss */
$color-bg-dark: #0a0b2e;
$color-indigo: #4338ca;
$color-purple: #7e22ce;
$color-pink: #db2777;
$color-accent: rgb(228, 175, 0);
$color-text-light: #f3f4f6;
$color-text-light-bg: #ffffff;
$color-card-bg: rgba(255, 255, 255, 0.05); // <-- полупрозрачный фон для карточек
