@use "../../styles/variables.scss";

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, variables.$color-bg-dark, variables.$color-indigo, variables.$color-purple);

  .toggle {
    margin-top: 1rem;
    font-size: 0.95rem;
    color: variables.$color-text-light-bg;

    .link {
      color: variables.$color-accent;
      cursor: pointer;
      text-decoration: underline;
      margin-left: 0.3rem;
    }
  }
}
