@use "../../../styles/variables.scss";

.hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, variables.$color-indigo, variables.$color-purple);
  color: variables.$color-text-light-bg;
  text-align: center;
  padding: 0 2rem;

  .hero-content {
    max-width: 800px;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.3rem;
      margin-bottom: 2rem;
    }

    .btn {
      background: variables.$color-accent;
      color: variables.$color-bg-dark;
      padding: 0.8rem 2rem;
      border-radius: 8px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: lighten(variables.$color-accent, 10%);
      }
    }
  }
}
