@import "../variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: linear-gradient(90deg, $color-indigo, $color-purple, $color-pink);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  z-index: 100;

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 40px;
      height: 40px;
    }

    span {
      font-weight: 700;
      font-size: 1.5rem;
      color: $color-text-light-bg;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    }
  }

  &__nav {
    display: flex;
    gap: 2rem;

    a {
      color: $color-text-light-bg !important;
      font-weight: 500;
      text-shadow: 0 1px 3px rgba(0,0,0,0.5); // повышаем читаемость
      transition: color 0.3s ease, text-shadow 0.3s ease;
      &:hover {
        color: $color-accent;
        text-shadow: 0 0 10px $color-accent;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;

    &__nav {
      margin-top: 0.5rem;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }
}
